<!DOCTYPE html>
<html>
<head>
  <title>MultipleDeviseModelDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <%= render 'layouts/headerUser'%>
  <% end %>
  <% if admin_signed_in? %>
    <%= render 'layouts/headerAdmin'%>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  
</body>
</html>
